<header>
    <h1>MINECRAFT BEZKOSHTOVNO</h1>
    <% if(new Date().getHours() < 12) {-%>
        Good Morning, nine year old.
        <% } else if (new Date( ).getHours() < 18) { -%>
            Good Afternoon, eight year old.
        <% } else { -%>
            Good Evening, seven year old.
        <% } %>
</header>