 <div class="modal">
        <div class="modal-content">
            <form>
                <button class="closeBtn" type="button">X</button>
                <h2>DARKNET POOR VERSION</h2>
                <label for="title">TITLE</label>
                <input type="text" name="title" id="title">
                <label for="desc">DESCRIPTION</label>
                <textarea name="desc" id="desc"></textarea>
                <button type="submit">ADD AD</button>
            </form>
        </div>
    </div>
    <button class="openBtn">+</button>
