* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--bg-100);
    font-family: serif; 
    color: var(--text-1000);
}

:root {
        --primary-1000:#810000;
    --primary-200:#630000;
    --primary-300:#3d3d3d;
    --accent-100:#1c1c1c;
    --accent-200:#212121;
    --text-100:#1E2022;
    --text-200:#212121;
    --bg-100:#212121;
    --bg-200:#050505;
    --bg-300:#121212;
      
}

#openBtn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--primary-200);
    color: var(--bg-100);
}

.modal {
    position: fixed;
    inset: 0;
    display: none;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: var(--primary-200);
    padding: 1rem;
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
}

input, textarea {
    border: none;
    padding: 1rem;
    border: 5px;
}

label {
    margin-top: 1rem
}

.closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
}

form button {
    background-color: var(--bg-200);
    padding: 0.5rem;
    color: var(--text-200);
    margin-top: 1rem;
    border: none;
}

form #image {
    display: none;

}

form .image-label {
    background-color: var(--bg-200);
    padding: 0.5rem;
    color: var(--text-200);
    margin-top: 1rem;
    border: none;
    text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.ads img {
    width: 100%;

}