@use "./colors" as *;
@use "./clearDefault" as *;
@use "./base/mixins" as mixin;
@use "./base/function" as f;
@use "./components/header" as *;

@debug f.calculateSpacing(10, 10);

body {
    background-image: url(https://i.pinimg.com/originals/1f/f4/89/1ff48915cfaced72aaae91b97ec11885.jpg);
    font-family: serif; 
    color: $bg-200;
}

#openBtn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: none;
    background-color: $primary-200;
    color: $bg-100;
}

.modal {
    position: fixed;
    inset: 0;
    display: none;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: $primary-200;
    padding: 1rem;
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    
input, textarea {
    border: none;
    padding: 1rem;
    border: 5px;
}

label {
    margin-top: 1rem
}

.closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
}


 button {
    background-color: $bg-200;
    padding: 0.5rem;
    color: $text-200;
    margin-top: 1rem;
    border: none;
}

#image {
    display: none;
    justify-content: flex-end;

}


.image-label {
    background-color: $bg-200;
    padding: 0.5rem;
    color: $text-200;
    margin-top: 1rem;
    border: none;
    text-align: center;
    justify-content: flex-end;
}
}










.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  @include mixin.responsive-container();
}

.ads img {
    width: 100%;
    border-color: rgb(255, 255, 255);
    border: 10px;
    border-radius: 5px;
    border-width: 100px;
    justify-content: flex-end;
    border: 100px;

}

.ads {
    @include mixin.adaptElement(1200px);
    @include mixin.trandsparentShadow($primary-1000);
    @include mixin.removeLinkStyle();
    border: 10px;
    border-color: white;
    

}


footer {
    color: white;

}

.texto {
    color: white;
    text-align: center;
}

#comment-form{
    display: flex;
    color: white;
       justify-content: center;
    max-width: 800px ;
    margin: 0 auto;
}



.imgs {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    
    
}

.comment-form .author{
    color: white;
}

ul {
    color: white;
    width: 800px;
    margin: 0 auto;
}